.white{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width:1300px;
    height: auto;
}
form{
    height:1080px;
    width: 1200px;
    border: 1px solid grey;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 5px solid gray;
    /* cursor: pointer; */
}
sup{
    color:red;
}